
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
  font-family: "Pangolin", sans-serif;
  letter-spacing: 2px;
 }

 /*----- Header -------  */
 .bg-nav {
  background: transparent;
}

.logo{
    width:120px;
    height:120px;
}

/*----- Hero Image -------  */

.hero-image {
   
    background: url("../images/numbers.jpg");   
    height: 150vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    
}

.jumbo-color{
    color: #000;
}